body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardgame-image{
  height: auto; 
    width: auto; 
    max-width: 15vw; 
    max-height: 10vw;
    float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}


.topboardgames {
  list-style-type: none;
  counter-reset: css-counter 0
}

.topboardgames h5:before {
  counter-increment: css-counter 1;
  content: counter(css-counter) ". ";
}

h5.card-title.topboardgame {
  text-align: center;
}

.navigation-bg {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: darkgoldenrod solid 5px;
  margin-bottom: 30px;
}

.navigation-bg a {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.navigation-bg a:hover {
  color: darkorange;
  text-decoration: none;
}

h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-bg {
  margin-left: 15%;
  margin-right: 15%;
}

.welcome-bg {
  font-size: 1.2em;
}


.card-subtitle.mb-2.text-muted {
  display: inline;
}

.card-text-bg {
  display: inline;
}

.bg-card-body {
  padding-top: 0px;
}